body {
    background-color: #f1f5f9;
}

#hero, #about, #footer {
    font-family:Arial, Helvetica, sans-serif;
}


.alert{
    background-color: red;
}


.sub_canvas2 {
    /* display: flex; */
    width: 80%;
}

.sub_canvas1 {
    display: flex;
    text-align: center;
    justify-content: baseline;
    margin: 0 auto;
    width: 50%;
}